#coin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---secondary-color);
    grid-column: 1;
    grid-row: 1;
    padding: 10px 5px;
}

.modal-container {
    grid-column: 1;
    grid-row: 1;
    z-index: 999;
    display: none;

    justify-content: center;
    align-content: center;
    background-color: #092525a8;
}

.add-alert-modal {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    background-color: var(---secondary-color);
    padding: 20px 32px;
}
.add-alert-modal > input {
    width: 75px;
}
.alert-title {
    justify-self: center;
    display: flex;
    align-items: center;
}

.alert-bell {
    height: 20px;
}

.trashcan {
    height: 24px;
    width: 24px;
}

.top-icons {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
}

.remove-X {
    font-size: 26px;
}
.perc-alert {
    display: grid;
    grid-template-columns:
        minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 50px
        minmax(min-content, max-content) auto;
    margin: 6px;
    grid-column-gap: 2px;
    align-items: center;
}
.price-alert {
    display: grid;
    grid-template-columns:
        minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content)
        auto;
    grid-column-gap: 2px;
    margin: 6px;
    align-items: center;
}
.perc-alert > input {
    width: 40px;
}
.price-alert > input {
    width: 127px;
}
.add-alert-modal .btn {
    width: 60px;
}
.coin-details-alerts {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin: 6px;
    justify-content: center;
}
.coin-logo-big {
    display: none;
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}
.remove-btn {
    width: 90px;
}
#add-amount-details {
    width: 140px;
}
.details-data-container {
    display: grid;
    grid-template-rows: auto auto auto;
}

#details-data,
.market-data-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 4px;
    margin: 6px;
}
.k {
    align-self: center;
}
.v {
    text-align: right;
    justify-self: right;
    align-self: center;
}
.details-shareM {
    align-self: center;
}
