.legend-container {
    width: 100%;
    grid-row: 2;
}

.legend {
    font-size: 0.95rem;
    line-height: 0.95rem;
    color: #a5b7b7;
    white-space: nowrap;
    background-color: inherit !important;
    cursor: auto !important;
}
.legend > div:first-child {
    align-items: flex-start;
}

.legend span {
    cursor: pointer;
}

#portfolio {
    grid-column: 1;
    grid-row: 3;
}
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    /* max-width: 350px; */
}
.table-row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin-bottom: 6px;
    background-color: var(---secondary-color);
    border-radius: 6px;
    margin-left: 8px;
    margin-right: 8px;
    /*  transition-property: order;
    transition-duration: 0.6s;
    transition-delay: 0.3s;*/
    cursor: pointer;
}
.table-cell {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 6px 8px 6px 8px;
    white-space: nowrap;
}

.table-cell > div {
    margin: 2px;
}

.ticker-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.l-t-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amount-container {
    align-items: start;
}
.item-prices {
    font-size: 0.9em;
    flex-shrink: 0;
}
.item-values {
    font-size: 0.9rem;
    flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 361px) {
    .item-prices > .btc-price {
        display: none;
    }
    .item-prices > .change-btc {
        display: none;
    }
    .item-values > .net-btc {
        display: none;
    }
    .item-values > .net-btc-change {
        display: none;
    }
}

.changes {
    flex: 0;
}
.coin-logo {
    display: none;
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}
